.form-input{
    @apply w-full border-gray-300 h-[36px] px-3 rounded  ring-0 focus:ring-0  focus:border-gray-500;
    &:disabled{
        @apply bg-gray-100 cursor-not-allowed;
    }
}

.form-field{
    @apply w-full block p-2;
    textarea{
        @apply h-auto;
    }
    .form-label{
        @apply block text-xs font-semibold mb-1;
    }
    .form-box{
        @apply w-full block;

    }

    .message{
        @apply text-xs text-orange-500 hidden ;
    }
    &.error{
        .form-label{
            @apply text-black;
        }
        .form-input{
            @apply border-slate-400 text-black;
        }
        .message{
            @apply block;
        }
    }

    &.sm{
        .form-input{
            @apply px-1 h-6 text-sm;
        }
        .form-tags{
            .tag-add{
                @apply h-6;
            }

        }
        .tags{
            .tag{
                @apply p-0 h-6;

            }
        }
    }
    &.lg{
        .form-input{
            @apply h-12 px-3;
        }
        .form-tags{
            .tag-add{
                @apply h-12;
            }

        }
        .tags{
            .tag{
                @apply p-0 h-12;

            }
        }

    }
    &.form-array{
        .form-box{
            @apply w-full block p-2 bg-gray-100 rounded;
            .item{
                @apply w-full flex mb-1;
                .form-input{
                    @apply flex-auto p-1 ring-0 rounded-r-none;
                }
                .icon{
                    @apply rounded-r-sm bg-white flex-none flex items-center justify-center px-2 border-gray-300 border-t border-r border-b cursor-pointer hover:border-yellow-400 hover:bg-yellow-400;
                }
            }
        }
        .item-add{
            @apply w-full flex;
            .form-input{
                @apply flex-auto border-cyan-600 rounded-r-none ring-0;
            }
            .icon{
                @apply rounded-r-sm bg-white flex-none flex items-center justify-center px-1 border-cyan-600 border bg-cyan-600 cursor-pointer text-white hover:bg-cyan-500 hover:border-cyan-500 ;
            }
        }

    }
    .lf-flex{
        @apply flex flex-wrap;
        .item{
            @apply flex-none flex items-center mr-4 cursor-pointer font-medium hover:text-blue-600 whitespace-nowrap;
            .form-radio, .form-checkbox{
                @apply w-5 h-5 mr-1.5;
            }
            &:hover{
                .form-radio,.form-checkbox{
                    @apply border-blue-600;
                    &:checked {
                        &+.text{
                            @apply text-blue-600;
                        }
                    }
                }
            }
        }
    }

    .form-icon{
        @apply w-full block;
        .box-icons{
            @apply w-full block max-h-60 overflow-auto bg-gray-100 p-2 rounded mt-2;
            .icons{
                @apply w-full flex flex-wrap;
                .item{
                    @apply flex-auto block  p-0.5;
                }
                .item-show{
                    @apply w-full text-center block whitespace-nowrap border bg-white p-1 rounded cursor-pointer hover:bg-green-600 hover:text-white;
                    .icon{
                        @apply w-full flex items-center justify-center w-full p-2;
                    }
                    &.active{
                        @apply bg-green-600 text-white;
                    }
                }

            }
        }
    }

    .form-picture{
        @apply w-full max-w-xs block overflow-hidden p-2 bg-gray-100 rounded cursor-pointer;
        .picture{
            @apply w-full block mb-2;
            img{
                @apply w-full;
            }
        }
        input{
            @apply bg-slate-200 cursor-pointer;
        }
    }

    .form-toggle{
        @apply w-8 h-3 inline-block bg-slate-400 rounded-full mt-3 flex-auto  items-center shadow-lg  ;
        .dot{
            @apply flex-none w-5 h-5 bg-slate-500 rounded-full inline-block -mt-2 cursor-pointer shadow;
        }
        input{
            @apply hidden;
            &:checked + .dot{
                @apply bg-blue-600 ml-3
            }
        }
    }
}

.form-filter{
    @apply w-full flex flex-wrap p-2 bg-slate-100;

    .field{
        @apply flex-auto p-0.5 flex items-center min-w-[200px];
        .form-input{
            @apply w-full p-1 text-xs;
        }

    }
    .label{
        @apply font-bold text-xs flex-none min-w-0;
    }
}

.form-sort{
    @apply inline-flex hover:bg-slate-300 cursor-pointer text-blue-800 px-1 items-center;
    .label{
        @apply whitespace-nowrap;
    }
}
.form-finished{
    @apply w-full border-t p-2 mt-2;
    .item{
        @apply flex-none flex items-center mr-4 cursor-pointer text-xs;
        .title{
            @apply font-bold pl-1;
        }
        &:hover{
            @apply text-blue-700;
        }
        input:checked{
            &+ .title{
                @apply text-blue-700;
            }
        }
    }
}

.form-tags{
    @apply flex flex-wrap;
    .tags{
        @apply flex-none flex flex-wrap max-w-full;
        .tag{
            @apply flex-none inline-flex items-center mr-1 my-1 border rounded-sm bg-sky-100;
            .text{
                @apply px-2 py-1;
            }
            .icon{
                @apply flex-none flex items-center border-l px-2 cursor-pointer hover:bg-gray-200 h-full;
            }
        }
    }
    .tag-add{
        @apply flex-auto flex h-10 min-w-[30%] my-1;
        .form-input {
            @apply border-cyan-600 rounded-r-none border-r-0 ring-0;
        }
        .icon{
            @apply flex-auto h-full bg-cyan-600 rounded-r cursor-pointer text-white flex items-center px-2 hover:bg-cyan-500;
        }
    }
}

.form-group{
    @apply w-full flex;
    .form-field{
        @apply p-0;
        &:first-child{
            .form-input{
                @apply rounded-l-full;
            }
        }
        &:last-child{
            .form-input{
                @apply rounded-r-full  border-r;
            }
        }
    }
    .form-input{
        @apply border-r-0 rounded-none;
    }
    .btn,[class^="btn-"],
    [class*=" btn-"] {
        @apply m-0 rounded-none border-gray-300 border-r-0 flex-none;

        &:last-child{
            @apply rounded-r-full border-r;
        }
        &:first-child{
            @apply rounded-l-full;
        }
    }
}
